@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --foreground: #fafafa;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.react-calendar-heatmap .color-empty {
  fill: #27272a;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #a8d8b8;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #86efac;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #22c55e;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #0c8f3c;

}

.react-calendar-heatmap rect {
  rx: 3;
  ry: 3;
}

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #71717a;
}