--
-- PostgreSQL database dump
--

\restrict JfNgADkSnjqVGOYwucrq50mLq6Duwg8Ioqftf5xIT9sFQrDZVQgOb7afgQNRdOT

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: CompletionLog; Type: TABLE; Schema: public; Owner: malessan4
--

CREATE TABLE public."CompletionLog" (
    id integer NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "habitId" integer NOT NULL,
    minutes integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."CompletionLog" OWNER TO malessan4;

--
-- Name: CompletionLog_id_seq; Type: SEQUENCE; Schema: public; Owner: malessan4
--

CREATE SEQUENCE public."CompletionLog_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."CompletionLog_id_seq" OWNER TO malessan4;

--
-- Name: CompletionLog_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: malessan4
--

ALTER SEQUENCE public."CompletionLog_id_seq" OWNED BY public."CompletionLog".id;


--
-- Name: Habit; Type: TABLE; Schema: public; Owner: malessan4
--

CREATE TABLE public."Habit" (
    id integer NOT NULL,
    title text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" integer NOT NULL,
    description text DEFAULT ''::text,
    frequency integer[] DEFAULT ARRAY[0, 1, 2, 3, 4, 5, 6]
);


ALTER TABLE public."Habit" OWNER TO malessan4;

--
-- Name: Habit_id_seq; Type: SEQUENCE; Schema: public; Owner: malessan4
--

CREATE SEQUENCE public."Habit_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Habit_id_seq" OWNER TO malessan4;

--
-- Name: Habit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: malessan4
--

ALTER SEQUENCE public."Habit_id_seq" OWNED BY public."Habit".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: malessan4
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    email text NOT NULL
);


ALTER TABLE public."User" OWNER TO malessan4;

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: malessan4
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."User_id_seq" OWNER TO malessan4;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: malessan4
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: CompletionLog id; Type: DEFAULT; Schema: public; Owner: malessan4
--

ALTER TABLE ONLY public."CompletionLog" ALTER COLUMN id SET DEFAULT nextval('public."CompletionLog_id_seq"'::regclass);


--
-- Name: Habit id; Type: DEFAULT; Schema: public; Owner: malessan4
--

ALTER TABLE ONLY public."Habit" ALTER COLUMN id SET DEFAULT nextval('public."Habit_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: malessan4
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Data for Name: CompletionLog; Type: TABLE DATA; Schema: public; Owner: malessan4
--

COPY public."CompletionLog" (id, date, "habitId", minutes) FROM stdin;
15	2026-02-06 18:18:27.724	43	60
16	2026-02-06 21:07:18.934	42	45
24	2026-02-06 22:31:42.837	3	56
25	2026-02-06 22:35:30.741	43	3
26	2026-02-06 22:56:16.19	43	20
27	2026-02-06 23:09:34.217	4	10
28	2026-02-06 23:42:01.933	6	18
\.


--
-- Data for Name: Habit; Type: TABLE DATA; Schema: public; Owner: malessan4
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: malessan4
--

COPY public."User" (id, email) FROM stdin;
1	test@test.com
\.


--
-- Name: CompletionLog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: malessan4
--

SELECT pg_catalog.setval('public."CompletionLog_id_seq"', 28, true);


--
-- Name: Habit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: malessan4
--

SELECT pg_catalog.setval('public."Habit_id_seq"', 45, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: malessan4
--

SELECT pg_catalog.setval('public."User_id_seq"', 1, true);


--
-- Name: CompletionLog CompletionLog_pkey; Type: CONSTRAINT; Schema: public; Owner: malessan4
--

ALTER TABLE ONLY public."CompletionLog"
    ADD CONSTRAINT "CompletionLog_pkey" PRIMARY KEY (id);


--
-- Name: Habit Habit_pkey; Type: CONSTRAINT; Schema: public; Owner: malessan4
--

ALTER TABLE ONLY public."Habit"
    ADD CONSTRAINT "Habit_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: malessan4
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: malessan4
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: CompletionLog CompletionLog_habitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: malessan4
--

ALTER TABLE ONLY public."CompletionLog"
    ADD CONSTRAINT "CompletionLog_habitId_fkey" FOREIGN KEY ("habitId") REFERENCES public."Habit"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Habit Habit_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: malessan4
--

ALTER TABLE ONLY public."Habit"
    ADD CONSTRAINT "Habit_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict JfNgADkSnjqVGOYwucrq50mLq6Duwg8Ioqftf5xIT9sFQrDZVQgOb7afgQNRdOT

